.main {
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  padding-top: 58px;
}

.cardlist {
  margin-top: 15px;
  margin-bottom: 90px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.returnbutton { 
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 10px;
  margin-bottom: 15px;
}
