.main {
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
  background-color: #fff;
  margin-bottom: 4rem;
}

.preview {
  margin-top: 0;
  margin-bottom: 24px;
}

.space {
  margin-top: 5px;
}

.preview {
  width: 100%;
  margin-top: 1em;
  padding-left: 1em;
  font-size: small;
}

.completeButton {
  width: 100%;
  z-index: 5;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 20px;
}
