.container {
    background-color: #F4F5FC;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container label {
    font-size: 0.8rem;
    padding: 20px;
}

.container input {
    width: 36px;
    height: 40px;
    margin: auto 20px;
    border: none;
}