.container {
    width: 100%;
    padding: 8px 20px;
}

.title {
    font-size: 0.7rem;
}

.detail {
    padding-top: 4px;
    padding-left: 12px;
    font-size: 1rem;
}

.container+.container {
    border-top: 1px solid #969696;
}