.DisplayText_background{
    background-color: #F4F5FC;

    width:88%;
    height: 64px;
    border-bottom: 1px solid;
    border-color: #969696;
}

.DisplayText_title{
    height: 50%;
    font-size: 12px;
    position: relative;

}

.DisplayText_title p{
    position:absolute;
    top: 25%;
    padding-left: 5px;
}

.DisplayText_detail{
    height: 50%;
    font-size: 16px;
    position: relative;
    transform: translateY(-30%);
}

.DisplayText_detail p{
    position:absolute;
    top: 30%;
    padding-left: 5px;
}