.Header_container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Header_bar{
    background-color: #6F80BF;
}

.Header_icon{
    margin: 0 3px 0 0;
}

.font{
    font-family: 'Kiwi Maru', serif;
  font-family: 'Lemon', cursive;
}
