.main {
  width: 100vw;
  height: 100vh;
  background-color: #6F80BF;
  margin: 0px;
  position: fixed;
}

.logo {
  color: aliceblue;
  font-family: 'Kiwi Maru', serif;
  font-family: 'Lemon', cursive;
  font-size: 4rem;
}