.main {
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.change {
  text-align: center;
  width: 100%;
  padding-bottom: 5rem;
}

.preview {
  margin: 0 auto;
}

.preview p {
  font-size: 14px;
  padding-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.editButton {
  margin-top: 10px;
}

.completeButton {
  width: 100%;
  z-index: 5;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 20px;
}

.space {
  margin-top: 5px;
}
