.main {
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.cardlist {
    margin-top: 15px;
    margin-bottom: 90px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
}