.main {
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 90px;
  background-color: #fff;
}

.cardlist {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 10px;
  gap: 15px;
}

.returnHomeButton {
  width: 90%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.qrcode {
  display: flex;
  font-size: 300px;
  margin-top: 10%;
  margin-bottom: 10%;
}
