.main {
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
  background-color: #fff;
  /* padding-top: 58px; */
}

.change {
  text-align: center;
  width: 100vw;
}

.preview {
  margin: 0 auto;
}

.preview p {
  font-size: 14px;
  padding: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.change {
  width: 100%;
}

.editBtn {
  margin-top: 10px;
}

.space {
  margin-top: 5px;
}
