.main {
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 90px;
  background-color: #fff;
}

.cardlist {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 10px;
  gap: 15px;
}

.qrcode {
  display: flex;
  font-size: 300px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.maintext {
  font-size: 18px;
}
.maintext1 {
  font-size: 15px;
  align-items: center;
  text-align: center;
}
