.NameInput{
    width: 95%;
    max-width: 100%;
}

.NameInput_background{
    text-align: center;
    background-color: #F4F5FC;
    border-radius: 5px;
    width:88%;
    height: 64px;
    margin: 5px 0;
}