.PrimaryBtn{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    font-size: 1.125rem;
    border: 1.5px solid;
    border-color: #969696;
    border-radius: 45px;
    color: #6F80BF;
    text-decoration: none;
}

.PrimaryBtn:focus,
.PrimaryBtn:hover{
    border: 1.5px solid;
    border-color: #969696;
}