.SecondaryBtn{
    display: inline-block;
    width: 88%;
    font-size: 1.125rem;
    border: 1.5px solid;
    border-radius: 45px;
    color: #fff;
    background-color:  #6F80BF;
    border-color: #6F80BF;
    text-decoration: none;
    margin: 5px 0;
}

.SecondaryBtn:focus,
.SecondaryBtn:hover{
    border: 1.5px solid;
    color: #fff;
    background-color:  #6F80BF;
    border-color: #6F80BF;
}