.SecondaryButton{
    display: inline-block;
    width: 100%;
    font-size: 1.125rem;
    border: 1.5px solid;
    border-radius: 45px;
    color: #fff;
    background-color:  #6F80BF;
    border-color: #969696;
    text-decoration: none;
}

.SecondaryButton:focus,
.SecondaryButton:hover{
    border: 1.5px solid;
    color: #fff;
    background-color:  #6F80BF;
    border-color: #969696;
}