.main {
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.qrcode {
  display: flex;
  font-size: 300px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.returnbutton {
  width: 90%;
  position: fixed;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
}
